.footer {
    border-top: 1px solid var(--bs-border-color-translucent);
    background-color: var(--bs-tertiary-bg);
    border-top: 2px solid #cccccc55;
    position: sticky;
    bottom: 0;
    z-index: 1000;
    padding: 0.25em;
}

/*.footer-text {*/
/*    color: #5e5e5e;*/
/*    font-size: 1.1em;*/
/*}*/
